<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="SystemCache" type="NHibernate.Caches.SysCache.SysCacheSectionHandler, NHibernate.Caches.SysCache"/>
  </configSections>

  <SystemCache>
    <cacheRegion name="Customer" relativeExpiration="3600" priority="High" />
  </SystemCache>
</configuration>